h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
}

mat-sidenav-container {
  height:100vh;
}

/* Move the content down so that it won't be hidden by the toolbar */
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 5rem;
  }

  .entry{
      display: flex;
      align-items: center;
      gap: 1rem;
      padding:0.75rem;
      height: 2px;
  }
}

/* Move the content down so that it won't be hidden by the toolbar */
mat-sidenav-content{
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
      padding-top: 4rem;
  }
}

.mat-drawer-content {
  height: 95% !important;
  overflow-y: scroll !important;
}

.expanded {
  width: 250px;
  height: 300px;
}

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

  .nav-item:first-of-type {
      padding-top: 1rem;
  }

  .nav-item:last-of-type {
      padding-bottom: 1rem;
  }

  .nav-item ::deep a {
      color: #d7d7d7;
      border-radius: 4px;
      height: 3rem;
      display: flex;
      align-items: center;
      line-height: 3rem;
  }

.nav-item ::deep a.active {
  background-color: rgba(255,255,255,0.25);
  color: white;
}

.nav-item ::deep a:hover {
  background-color: rgba(255,255,255,0.1);
  color: white;
}

.nav-link {
  text-decoration: none;
}

.nav-link > span {
  vertical-align: top;
}

.nav-link:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
