<div>
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Spare Parts</h1>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list >
        <a mat-list-item>
          <span class="entry">
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
              <mat-icon>house</mat-icon>
              <span *ngIf="!isCollapsed">Home</span>
            </a>
          </span>
        </a>
        <a *ngIf="!this.authirzationService?.userIsLoggedIn()" mat-list-item>  
          <span class="entry">
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
              <mat-icon>lock</mat-icon>
              <span *ngIf="!isCollapsed">Login</span>
            </a>
          </span>
        </a>
        <a *ngIf="this.authirzationService?.userIsLoggedIn()" mat-list-item>
          <span class="entry">
            <a routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page">
              <mat-icon>lock_open</mat-icon>
              <span *ngIf="!isCollapsed">Logout</span>
            </a>
          </span>
        </a>
        <a *ngIf="this.authirzationService?.userIsLoggedIn() && this.authirzationService?.userHasRequiredRoles([userRoles.Administrator])" mat-list-item>
          <span class="entry">
            <a routerLink="/part-list" routerLinkActive="active" ariaCurrentWhenActive="page">
              <mat-icon>list</mat-icon>
              <span *ngIf="!isCollapsed">Part List</span>
            </a>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
