/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.tool-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tool-button {
    margin-right: 5px;
}

.tool-button-image {
    margin-right: 10px;
}

.pdf-container {
    height: 85vh;
    width: 100%;
}

.pdf-view {
    height: 100%;
    width: 100%;
}

.custom-error {
    color: red;
}
